body{
    background: lightgoldenrodyellow;
    min-height: 100vh;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 15%;
    position: absolute;
    width: 100%;
    z-index: 100;
    gap: 250px;
}

header h1{
    font-size: 40px;
    color: #003329;
}

header nav{
    display: flex;
    gap: 30px;
}

header nav a{
    text-decoration: none;
    font-size:20px;
    font-weight:600;
    padding: 8px 16px;
    border-radius: 99px;
    transition:0.3s;
    color: #003329;
}

header nav a.active{
    background-color: #003329;
    color: azure;
}

header nav a:hover{
    background: #003329;
    color: #fff;
}

header nav:hover > a:not(:hover){
    background: none;
    color:  #003329;
}

.parallax{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.parallax img{
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.parallax #title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 80px;
    text-shadow:0px 0px 4px rgba(0 , 0 , 0, 0.25);
}

#about{
    padding: 2rem 5rem;
    background: #003329;
    color: #fff;
    position: relative;
    z-index: 100;
    text-align: center;
}

#about h1{
    font-size: 40px;
}

footer{
    padding:2rem 5rem;
    background-color: #111418;
    color: #fff;
    text-align: center;
}

